<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BT Current Monitor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.0/rickshaw.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" />
    <link rel="stylesheet" href="index.css" />
</head>

<body ng-app="BtCurrentMonitorApp">
    <div class="container">



        <div class="row equal controll-row">
            <div class="col-md-4" ng-controller="mqttController as mqtt">
                <div class="panel panel-default" ng-class="mqtt.service.state === 'connected' ? 'panel-success' : 'panel-warning'">
                    <div class="panel-heading">MQTT <small>{{mqtt.service.state}}</small></div>
                    <div class="panel-body">
                        <form>
                            <button ng-disabled="mqtt.service.state !== 'disconnected'" type="button" class="btn btn-default" ng-click="mqtt.connect()">Connect</button>
                            <button ng-disabled="mqtt.service.state !== 'connected'" type="button" class="btn btn-default" ng-click="mqtt.disconnect()">Disconnect</button>
                            <br> <br>
                            <div class="form-group">
                                <label for="hostname">MQTT hostname</label>
                                <input type="text" class="form-control" id="hostname" placeholder="hostname" ng-model="mqtt.settings.hostname">
                            </div>
                            <div class="form-group">
                                <label for="port">MQTT websocket port</label>
                                <input type="number" class="form-control" id="port" placeholder="8080" ng-model="mqtt.settings.port">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-controller="currentMonitorController as currentMonitor">
                <div class="panel panel-default">
                    <div class="panel-heading ">Current Monitor <small>{{currentMonitor.state()}}</small></div>
                    <div class="panel-body">
                        <button ng-disabled="!currentMonitor.start.can()" type="button" class="btn btn-default" ng-click="currentMonitor.start.execute()">Start</button>
                        <button ng-disabled="!currentMonitor.stop.can()" type="button" class="btn btn-default" ng-click="currentMonitor.stop.execute()">Stop</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4" ng-controller="graphsController as graphs">
                <div class="panel panel-default">
                    <div class="panel-heading">Graphs</div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <span class="badge label-badge current">I</span>
                            <input type="number" class="form-control" ng-model="graphs.settings.current.min" style="width: 75px;">
                            <input type="number" class="form-control" ng-model="graphs.settings.current.max" style="width: 75px;">
                        </form>
                        <form class="form-inline">
                            <span class="badge label-badge voltage">V</span>
                            <input type="number" class="form-control" ng-model="graphs.settings.voltage.min" style="width: 75px;">
                            <input type="number" class="form-control" ng-model="graphs.settings.voltage.max" style="width: 75px;">
                        </form>
                        <form class="form-inline">
                            <span class="badge label-badge"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <input type="number" class="form-control" ng-model="graphs.settings.length" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}"
                                style="width: 75px;">
                            <input type="number" class="form-control" ng-model="graphs.settings.offset" style="width: 75px;">
                        </form>
                        <form class="form-inline">
                            <span class="badge label-badge"><i class="fa fa-database" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" value="{{graphs.captureService.captureLength()}}" style="width: 75px;" readonly>
                            <input type="number" class="form-control" ng-model="graphs.captureService.captureSize" style="width: 75px;">
                        </form>
                        {{graphs.captureService.l}}
                    </div>
                </div>
            </div>
        </div>



        <div class="row" ng-controller="graphsController as graphs">
            <div class="graph-container" ng-controller="currentGraphController as graph">
                <div class="input-group current-max">
                    <div class="input-group">
                        <span class="input-group-addon current">I</span>
                        <input type="number" class="graph-axis-input form-control" ng-model="graphs.settings.current.max">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.increaseAxisMax(graphs.settings.current)">+</button>
                                <button class="btn btn-default" type="button" ng-click="graphs.decreaseAxisMax(graphs.settings.current)">-</button>
                        </span>
                    </div>
                </div>

                <div class="input-group view-length">
                    <div class="input-group">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.decreaseViewLength()">-</button>
                        </span>
                        <input type="number" class="graph-lenght-input form-control" ng-model="graphs.settings.length">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.increaseViewLength()">+</button>
                        </span>
                    </div>
                </div>


                <div id="graph-y-axis-current"></div>
                <div class="input-group current-min">
                    <div class="input-group">
                        <span class="input-group-addon current">I</span>
                        <input type="number" class="graph-axis-input form-control" ng-model="graphs.settings.current.min">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.increaseAxisMin(graphs.settings.current)">+</button>
                                <button class="btn btn-default" type="button" ng-click="graphs.decreaseAxisMin(graphs.settings.current)">-</button>
                        </span>
                    </div>
                </div>
                <div id="graph"></div>
                <div class="input-group voltage-max">
                    <div class="input-group">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.increaseAxisMax(graphs.settings.voltage)">+</button>
                                <button class="btn btn-default" type="button" ng-click="graphs.decreaseAxisMax(graphs.settings.voltage)">-</button>
                        </span>
                        <input type="number" class="graph-axis-input form-control" ng-model="graphs.settings.voltage.max">
                        <span class="input-group-addon voltage">I</span>

                    </div>
                </div>
                <div id="graph-y-axis-voltage"></div>
                <div class="input-group voltage-min">
                    <div class="input-group">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="graphs.increaseAxisMin(graphs.settings.voltage)">+</button>
                                <button class="btn btn-default" type="button" ng-click="graphs.decreaseAxisMin(graphs.settings.voltage)">-</button>
                        </span>
                        <input type="number" class="graph-axis-input form-control" ng-model="graphs.settings.voltage.min">
                        <span class="input-group-addon voltage">I</span>

                    </div>
                </div>
            </div>
        </div>

        <div class="row slider-row" ng-controller="sliderController as slider">
            <input ng-show="slider.max() !== slider.min()" type="range" name="range" ng-model="slider.value" ng-model-options="{ getterSetter: true }"
                min="{{slider.min()}}" max="{{slider.max()}}">
        </div>
    </div>

    <toaster-container></toaster-container>

    <!-- jQuery libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Angular JS libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.2.0/toaster.min.js"></script>

    <!-- Angular Material libraries -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Paho MQTT libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"></script>

    <!-- Rickshaw libraries -->
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.0/rickshaw.js"></script>

    <!-- app -->
    <!-- inject:js -->
    <!-- endinject -->

</body>

</html>